[submodule "themes/dark-theme-editor"]
	path = themes/dark-theme-editor
	url = https://github.com/JingWangTW/dark-theme-editor.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/paige"]
	path = themes/paige
	url = https://github.com/willfaught/paige
[submodule "hugo-universal-collapsible"]
	path = hugo-universal-collapsible
	url = https://github.com/alexandruioanp/hugo-universal-collapsible/
