{{ $page := . }}

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="/DataTables/datatables.min.css" rel="stylesheet">
<link
rel="stylesheet" href="/DataTables/custom-styles.css">

 <script src="/DataTables/datatables.min.js"></script>

<div>
	<p>
		Below is my attempt at a powerful and configurable link list. It is a work in progress, so I ask that you be patient with me. If you have any suggestions, please let me know on my Discord server
		<a href="https://discord.gg/2FcTGpME" target="_blank" rel="noopener noreferrer">The 16th Sanctuary</a>.

	</p>
</div>

<table id="linkTable" class="display">
	<thead>
		<tr>
			<th>Team Name</th>
			<th>Song Name</th>
			<th>Song Artist</th>
			<th>Song Genre</th>
			<th>Song Keys</th>
			<th>Song Tags</th>
			<th>Song Links</th>
			<th>Link Description</th>
			<th>Description Tags</th>
		</tr>
		<tr>
			<th><input type="text" placeholder="Search Team Name" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Song Name" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Song Artist" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Song Genre" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Song Keys" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Song Tags" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Song Links" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Link Description" style="width:100%"/></th>
			<th><input type="text" placeholder="Search Description Tags" style="width:100%"/></th>
		</tr>
	</thead>
	<tbody>
		{{ range $key, $team := .Params.Teams }}
			{{ range $songKey, $song := $team.Songs }}
				{{ range $linkKey, $link := $song.DownloadProcessed }}
					<tr>
						<td style="position: relative; background-image: url('{{ $team.Emblem }}'); background-size: cover; background-position: center;">
							<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255, 255, 255, 0.5); z-index: 0;"></div>
							<!-- Light overlay -->
							<span style="position: relative; z-index: 1; color: #333; font-weight: bold;">{{ $team.Name }}</span>
							<img src="{{ $team.LeaderCountryFlag }}" alt="Country Flag" style="width: 20px; height: auto; position: absolute; bottom: 5px; right: 5px; z-index: 1;">
						</td>
						<td>
							{{ if $team.Songs }}
								{{ $song.Title }}<br>
							{{ else }}
								No Songs Available
							{{ end }}
						</td>
						<td>
							{{ if $team.Songs }}
								{{ $song.Artist }}<br>
							{{ else }}
								No Artist Available
							{{ end }}
						</td>
						<td>
							{{ if $team.Songs }}
								{{ $song.Genre }}<br>
							{{ else }}
								No Genre Available
							{{ end }}
						</td>
						<td>
							{{ if $team.Songs }}
								{{ range $tagKey, $tag := $song.Keys }}
									{{ $tag}}<br>
								{{ end }}
							{{ else }}
								No Genre Available
							{{ end }}
						</td>
						<td>
							{{ if $team.Songs }}
								{{ range $tagKey, $tag := $song.TagsProcessed }}
									{{ $tag.Name }}<br>
								{{ end }}
							{{ else }}
								No Tag Available
							{{ end }}

						</td>
						<td>
							{{ if $link.Url }}
								{{ $link.Url }}<br>
							{{ else }}
								No Links Available
							{{ end }}
						</td>

						<td>
							{{ if $link.Desc  }}
								{{ $link.Desc }}<br>
							{{ else }}
								No Description Available
							{{ end }}
						</td>

						<td>
							{{ if $link.Tags }}
								{{ range $tagKey, $tag := $link.Tags }}
									{{ $tag.String }}<br>
								{{ end }}
							{{ else }}
								No Description Available
							{{ end }}
						</td>

					</tr>
				{{ end }}
			{{ end }}
		{{ end }}
	</tbody>
</table>
 <script>
  $(document).ready(function () {
    $('#yourTableId thead tr:first-child th').each(function() {
        var placeholderText = $(this).text();
        $('<input>', {
            type: 'text',
            placeholder: 'Search ' + placeholderText,
            style: 'width:100%'
        }).appendTo($(this));
    });
const table = document.getElementById('linkTable');
const headerCells = table.querySelectorAll('th');
let songLinksColumnIndex;

headerCells.forEach((th, index) => {
  if (th.textContent.trim() === 'Song Links') {
    songLinksColumnIndex = index;
  }
});


    var datatable = $('#linkTable').DataTable({
	order: [],
orderCellsTop: true, // Use the top row of header cells for ordering
layout: {
        topStart: 'pageLength',
	top1Start: 'buttons',
        topEnd: {
            search: {
                placeholder: 'Search all'
            }
        }
    },
			      buttons: [ { extend: 'copy', text: 'Copy table to clipboard' },
						{
        extend: 'copy',
        text: 'Copy Song Links',
        exportOptions: {
          columns: [songLinksColumnIndex]
        }
        },

					        {

						          extend: 'colvis',
columnText: function (dt, idx, title) {
                        return title;
                    },
          postfixButtons: ['colvisRestore'],
						          // collectionLayout: 'fixed two-column'
						        }
    ],
 });

		    // Setup - add a text input to each header cell for column-specific searching
    $('#linkTable thead tr:eq(1) th').each(function (i) {
      $('input', this).on('keyup change', function () {
        // Check if an actual change occurred in the search box to trigger filtering, but prevent sorting change.
        if (datatable.settings()[0].oPreviousSearch.sSearch !== this.value) {
          datatable
            .column(i)
            .search(this.value)
            .draw(false);  // Use draw(false) to apply changes without resetting the sort
        }
      });
    });

		});
</script>


{{ $content := $page.Content | replaceRE `(<h[1-6] id="([^"]+)".+)(</h[1-6]+>)` (printf `${1}<a aria-label="%s" class="paige-header-link" href="#${2}"></a>${3}` (i18n "paige_aria_section_link")) }}

{{ with $content }}
    <div class="mw-100" id="paige-content">{{ . | safeHTML }}</div>
{{ end }}
